<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>News registration form </title>
</head>

<body>

	<h1>Add New</h1>
	<br />
	<form action="/news/add" method="post">
		<label>Title</label>
		<input type="text" id="title" name="title" placeholder="New Title" />
		<br />
		<label>New</label>
		<textarea id="new" name="new" rows="5" cols="30"></textarea>
		<br />
		<input type="submit" value="Add" />
	</form>

</body>

</html>